<p> Management </p>
<p> ■ Project Management </p>
<p> ■ Team Leadership </p>
<p> ■ Agile Scrum Master </p>
<p> Languages </p>
<p> ■ Advanced : C# , Asp.Net Core </p>
<p> ■ Intermediate : Java </p>
<p> ■ Configuration : Terraform </p>
<p> Server Tools </p>
<p> ■ Git, TFS and VSS</p>
<p> Scripting </p>
<p> ■ JQuery, JavaScript, Node.js and Angular.js</p>
<p> Databases </p>
<p> ■ SQL Server, PostgreSQL, Trino and Oracle </p>
<p> Cloud Experience </p>
<p> ■ AWS, Azure, Oracle and HashiCorp Vault</p>
<p> CICD Infra </p> 
<p> ■ Docker, Kubernetes, Spinnaker and Jenkins </p>
