<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: var(--bold-color);
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="jumbotron-heading">Hi, I am {{site.author}} !</p>

  <p class="lead" id="typewriteText"></p>
  <span>
    {%- include github_star_button.html -%}
    {%- include github_follow_button.html -%}
  </span>
  <p class="profile-links">
    {% if site.twitter_username %}
    <a
      class="social-link"
      href="http://twitter.com/{{ site.twitter_username }}"
    >
      <i class="fab fa-twitter"></i>
    </a>
    {% endif %} {% if site.facebook_username %}
    <a
      class="social-link"
      href="http://facebook.com/{{ site.facebook_username }}"
    >
      <i class="fab fa-facebook-f"></i>
    </a>
    {% endif %} {% if site.adplist_username %}
    <a
      class="social-link"
      href="https://adplist.org/mentors/{{ site.adplist_username }}"
    >
      <i class="fab fa-instagram"></i>
    </a>
    {% endif %} {% if site.linkedin_username %}
    <a
      class="social-link"
      href="http://linkedin.com/in/{{ site.linkedin_username }}"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
    {% endif %} {% if site.github_username %}
    <a
      class="social-link"
      href="http://github.com/{{ site.github_username }}"
    >
      <i class="fab fa-github"></i>
    </a>
  </p>
  <!-- uncomment/modify buttons as you want-->
  <!--div class="jumbotron-btns">
    <a href="{{site.url}}{{site.baseurl}}/get-started">
      <button class="btn btn-md btn-warning"> <strong>Get Started</strong> </button>
    </a>
    <a id="olvy-target">
      <button class="btn btn-md btn-default"> <strong>What's New</strong> </button>
     </a>
  </div-->
</div>